# See http://help.github.com/ignore-files/ for more about ignoring files.
CBTD/wwwroot/images/products/*
!CBTD/wwwroot/images/products/Cheetos.jpg
!CBTD/wwwroot/images/products/Coke.jpg
!CBTD/wwwroot/images/products/Doritos.jpg
!CBTD/wwwroot/images/products/HonestTea.jpg
!CBTD/wwwroot/images/products/Menage.jpg
!CBTD/wwwroot/images/products/OrderConfirmation.png
!CBTD/wwwroot/images/products/Sprite.jpg
!CBTD/wwwroot/images/products/YellowTail.png
!CBTD/wwwroot/images/products/ZeroWater.jpg
.env
ssl.key
ssl.crt
ssl.csr
# Ignore Flax project files
Binaries/
Cache/
Logs/
Output/
Screenshots/
*.HotReload.*

# Ignore Rider files (generated locally)
.idea
# Ignore Visual Studio project files (generated locally)
*.csproj
*.sln

# Ignore thumbnails created by Windows
.DS_Store
# Ignore thumbnails created by Windows
Thumbs.db

# Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/

# Ignore Nuget packages folder
packages/
