@page
@model CBTD.Pages.Manufacturer.DeleteModel

<form method="POST">
    <div class="row py-4 px-0 m-0 gap-2">
        <button type="submit"  class="col btn btn-primary border  form-control">
            Delete
        </button>
        <a asp-page="Index" class="col btn btn-outline-primary border  form-control">
            Back to List
        </a>
    </div>
</form>